
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background: #f1f2f6;
  overflow-x: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                    supported by Chrome and Opera */
}

.wrapper{
  max-width: 1345px;
  margin: auto;
}

#onTopButton{
    color: rgba(38,110,209,1);
    position: fixed;
    right: 10px;
    top: 90%;
    font-size: 64px;
    z-index: 1;
    cursor: pointer;
    display: none;
}

.navbarSection{
    position: fixed;
    width: 100%;
    z-index: 10;
    background: linear-gradient(90deg, rgba(0,67,196,1) 0%,rgba(0,115,255,1) 100%);
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.navBar{
    float: right;
    list-style-type: none;
    position: relative;
    width: auto;
    z-index: 1;
}

.logo{
    width: 65px;
    height: 65px;;
    padding: 0;
    margin: 0;
    position: relative;
}

.navBar li{
    margin: 10px;
    margin-top: 17px;
    line-height: 20px;
    font-size: 20px;
    display: inline-flex;
    position: relative;
}

.navBar li a{
    transition: all 0.5s;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.navBar li a:hover{
    color: black;
    background-color: white;
    border-radius: 5px;
}

.iconSection{
    width: 100%;
    text-align: end;
}

#chk{
    font-size: 36px;
    color: white;
    cursor: pointer;
    position: relative;
    margin: 10px;
    text-align: right;
    display: none;
}

#checkbox{
    display: none;
}

/* Main Section */

.banner{
    width: 35%;
    top: -50vh;
    margin-right: 20px;
}

.introduction{
    position: relative;
    top: 15vh;
    text-align: center;
    margin-bottom: 50px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header div{
    max-width: 30%;
    margin-left: 20px;
}

.title{
    color: black;
    font-size: 32px;
    position: relative;
    text-align: center;
    font-weight: normal;
}

.introductionPara{
    position: relative;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
}

h2{
    text-align: center;
    position: relative;
    top: 30vh;
    width: 50%;
    margin: auto;
}

.button{
    background: linear-gradient(90deg, rgba(0,115,255,1) 0%, rgba(0,67,196,1) 100%);
    position: relative;
    border-radius: 10px;
    font-size: 22px;
    transition: all 0.5s;
    cursor: pointer;
    display: inline;
    padding: 15px 35px 15px 35px;
  }

.introduction a{
  display: inline;
  color: white;
  text-decoration: none;
  position: relative;
  top: 5vh;
}

.button:hover {
    background: linear-gradient(90deg, rgba(0,90,225,1) 0%, rgba(0,46,167,1) 100%);
}

/* Advantage card section */

.mainSection{
  margin: 20px;
}

.advTitle{
  font-weight: normal;
}

.advantageCardSection{
    position: relative;
    top: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.advantageCard{
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateX(-50%);
    width: 10em;
    height: 10em;
    background: #DADDE2;
    border-radius: 25px;
    position: relative;
    transform: translateX(0%);
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 7px 7px #B1BDC5;
}

.advantageCard i{
    font-size: 5em;
    color: rgba(27,144,220,1);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.dividerSmall{
    border: 1px solid #6F94BC;
    width: 80%;
    position: relative;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
}

.advantageTitle{
    text-align: center;
    line-height: 3em;
    color: #0086D9;
    font-weight: normal;
}

/* Product Section */

.productTitle{
    text-align: center;
    font-size: 22px;
    position: relative;
    top: 50vh;
    font-weight: normal;
}

.filterSection{
  position: relative;
  font-size: 20px;
  text-align: center;
  top: 50vh;
}

.filter{
  background-color: #DADDE2;
  width: 8em;
  padding: 10px;
  cursor: pointer;
  display: none;
  position: relative;
  margin: auto;
}

.filter:hover{
  background: linear-gradient(90deg, rgba(27,144,220,1) 0%, rgba(0,87,156,1) 100%);
  box-shadow: 3px 5px rgba(0,87,156,1);
  color: white;
}

#activeFilter{
  display: block;
  background: linear-gradient(90deg, rgba(27,144,220,1) 0%, rgba(0,87,156,1) 100%);
  box-shadow: 3px 5px rgba(0,87,156,1);
  color: white;
  font-weight: normal;
}

/* Main Cards */


.mainCardSection{
    max-width: 80%;
    position: relative;
    top: 55vh;
    margin: 50px auto 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainCard, .mainCardBundle, .mainCardSoon{
    width: 300px;
    height: 400px;
    margin: 25px 15px 75px 15px;
    position: relative;
}

.upperCard{
    height: 55%;
    background: linear-gradient(90deg, rgba(27,144,220,1) 0%, rgba(0,87,156,1) 100%);
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.slideButtonLeft{
    position: absolute;
    top: 50%;
    left: 10%;
}

.slideButtonRight{
    position: absolute;
    top: 50%;
    right: 10%;
}

.fas.fa-chevron-left{
    position: absolute;
    font-size: 46px;
    color: white;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.fas.fa-chevron-right{
    position: absolute;
    font-size: 46px;
    color: white;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.cardImage{
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 5px solid white;
    user-select: none;
}

.markedButton{
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0,157,255,1) 0%, rgba(0,209,236,1) 100%);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    width: 6em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    left: -30px;
    top: -20px;
}

.lowerCard{
    height: 45%;
    position: relative;
    background:linear-gradient(90deg, rgba(38,110,209,1) 0%, rgba(0,29,109,1) 100%);
    border-radius: 0px 0px 10px 10px;
}

.cardTitle{
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 10%;
    color: white;
    font-size: 22px;
    font-weight: normal;
}

.infoSection{
    display: flex;
    color: white;
    position: relative;
    top: 17%;
    justify-content: center;
    margin-left: 0px;
}

.infoSection div{
  margin-bottom: 5px;
}

.cardInfo{
    font-size: 16px;
    background-color: #444655;
    padding: 2px 7px 2px 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.fas.fa-check{
    color: #00DB95;
}

.fas.fa-times{
    color: #FF555C;
}

.cardButton{
    position: relative;
    top: 40px;
    -moz-top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 22px;
    padding: 5px 35px 5px 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    color: #00579c;
    font-weight: bold;
    box-shadow: 3px -3px #DADDE2;
    cursor: pointer;
    transition: all 0.5s;
}

.cardButton:hover{
    background-color: #DADDE2;
    box-shadow: 3px -3px #B1BDC5;
}

.specialDivider{
    position: relative;
    top: 55vh;
}


/* special cards */

.mainCardBundle .markedButton{
    background: linear-gradient(0deg, rgba(217,0,151,1) 0%, rgba(253,48,182,1) 100%);
}

.mainCardSoon .markedButton{
    background: linear-gradient(0deg, rgba(0,153,0,1) 0%, rgba(0,203,0,1) 100%);
}

.mainCardBundle .upperCard{
    background: linear-gradient(90deg, rgba(227,46,188,1) 0%, rgba(162,0,130,1) 100%);
}

.mainCardBundle .lowerCard{
    background: linear-gradient(90deg, rgba(196,46,227,1) 0%, rgba(136,0,170,1) 100%);
}

.mainCardBundle .cardButton{
    color: rgba(136,0,170,1);
}

.mainCardSoon .upperCard{
    background: linear-gradient(90deg, rgba(35,229,35,1) 0%, rgba(0,139,0,1) 100%);
}

.mainCardSoon .lowerCard{
    background: linear-gradient(90deg, rgba(30,198,30,1) 0%, rgba(0,121,0,1) 100%);
}

.mainCardSoon .cardButton{
    color: rgba(0,121,0,1);
    cursor: not-allowed;
}


/*  Giveaway Section */


.giveawaySection{
    position: relative;
    top: 65vh;
    margin-bottom: 100px;
}

.giveawaySectionTitle{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 100px;
}

.giveawayCard{
    max-width: 80%;
    margin: auto auto 50px auto;
    background-color: #0073FF;
    color: white;
    border-radius: 5px;
}

.giveawayCardMain{
    display: flex;
    justify-content: space-between;
}

.giveawayTitle{
    font-size: 20px;
    margin: 25px 0px 25px 10px;
}

.giveawayCardMain i{
    font-size: 32px;
    margin: 25px 20px 25px 0px;
    transform: rotate(180deg);
    transition: transform 0.5s;
    cursor: pointer;
}

.giveawayHidden{
    padding-bottom: 10px;
}

.giveawayCardPara{
    margin: 25px 10px 45px 10px;
    font-size: 18px;
}

.giveawayInformation{
    margin: 25px 0px 25px 0px;
    display: flex;
    justify-content: start;
}

.giveawayInformation p{
    margin: -15px 10px 0px 10px;
    font-size: 18px;
}

.informationTitle{
    text-decoration: underline;
}

.informationText{
    font-style: italic;
}

/* .giveawayButton{
    margin: 25px 0px 25px 10px;
    border: none;
    font-size: 20px;
    width: 7em;
    height: 2em;
    border-radius: 10px;
    box-shadow: 3px -4px #B1BDC5;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

.giveawayButton:hover{
    background-color: #B1BDC5;
    box-shadow: 3px -4px #A6A6A6;
} /*


/* FAQ Section */

.faqTitle{
  text-align: center;
  position: relative;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 25px;
}

.faqSection{
  max-width: 80%;
  background-color: #DADDE2;
  margin: auto;
  position: relative;
  top: 80vh;
  padding: 10px;
  border-radius: 15px;
}

.questionMark{
  margin: 25px;
}

.questionTitle{
  font-weight: normal;
  font-size: 20px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

.faqAnswer{
  overflow: hidden;
}

.answerPara{
    font-size: 18px;
}

/* Contact Section */

.contactSection{
    position: relative;
    top: 95vh;
}

.contactTitle{
    font-size: 22px;
    text-align: center;
    font-weight: normal;
}

.contactPara{
    font-size: 18px;
    text-align: center;
    max-width: 30%;
    margin: auto;
}

.contactImageSection{
    margin: auto;
    max-width: 30%;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2vh;
}

.contactImage{
    cursor: pointer;
    display: inline;
}


/* Footer */

.footer{
    background:linear-gradient(90deg, rgba(38,110,209,1) 0%, rgba(0,29,109,1) 100%);
    width: 100%;
    min-height: 200px;
    position: relative;
    top: 110vh;
}



/* divider */

.divider{
  border: 1px solid #6F94BC;
  width: 90%;
  position: relative;
  top: 25vh;
  margin: auto;
}

.cardDivider{
    width: 90%;
    border: 1px solid #6F94BC;
    position: relative;
    top: 50vh;
    margin: auto;
}

.giveawayDivider{
    width: 90%;
    border: 1px solid #6F94BC;
    position: relative;
    top: 0vh;
    margin: auto;
}

.faqDivider{
    width: 90%;
    border: 1px solid #6F94BC;
    position: relative;
    top: 70vh;
    margin: auto;
}

.contactDivider{
    width: 90%;
    border: 1px solid #6F94BC;
    position: relative;
    top: -10vh;
    margin: auto;
}


/* Responsive (1000px) */

@media screen and (max-width: 1000px){

    /* Introduction Section (1000px responsive) */

    .banner{
        display: none;
    }

    .introduction{
      top:20vh;
    }

    .introduction p, .contactPara{
        max-width: 80%;
    }

    .header div{
        max-width: 100%;
        margin: auto;
    }


    .advantageCardSection{
        width: 80%;
    }

    /* Main Card Section (1000px responsive) */

    .mainCardSection{
        max-width: 100%;
    }

    .mainCard{
        margin-bottom: 75px;
    }

    /* Giveaway Section  (1000px responsive) */

    .giveawayCard{
        max-width: 80%;
    }

    /* FAQ Section (1000px responsive) */

    .faqSection{
        max-width: 80%;
    }


    /* Contact Section (1000px responsive) */

    .contactImage{
        width: 90px;
        margin: 15px;
    }

}

/* Responsive (640px) */

@media screen and (max-width: 640px){

    #onTopButton{
        display: none;
    }

    /* NavBar Section (640px responsive) */

    #chk{
        display: inherit;
    }

    .navBar div{
        overflow: hidden;
        max-height: 0px;
        transition: max-height 1s cubic-bezier(0,1,0,1);
    }

    .navBar li {
        display: block;
        margin: 20px;
        float: inherit;
    }

    #checkbox:checked ~ .navBar div{
        max-height: 500px;
        transition: max-height 0.5s ease-in-out;
    }

    /* Introduction Section (640px responsive) */

    .title{
        font-size: 26px;
    }

    /* Main Card Section (640px responsive) */

    .mainCardSection{
        max-width: 100%;
    }

    .mainCard,.mainCardBundle, .mainCardSoon{
      margin: 20px 20px 50px 20px;
    }

    .markedButton{
      left: -15px;
    }

    /* Giveaway Section (640px responsive) */

    .giveawayCard{
        max-width: 90%;
    }

    /* FAQ Section (1000px responsive) */

    .faqSection{
        max-width: 90%;
    }

    /* Contact Section (640px responsive) */



    .contactImage{
        width: 50px;
        margin: 15px;
    }


}
